.loading {
    height: 200px;
    width: 200px;
    position: relative;
}

.loading::before,
.wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background: black;
    animation: s 1.5s linear infinite;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes s {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}